.requestForm {
	margin-right: 5%;
	margin-left: 5%;
	display: none;
}

.updateForm {
	display: none;
}

#cancelRequest {
	display: none;
}

.commentForm {
	display: none;
}

#commentsOutput {
	display: none;
}